<!DOCTYPE html>
<html>
<head>
    <title>Currículo de João Antônio Sanchez Cirne</title>
</head>
<body>
    <h1>Currículo de João Antônio Sanchez Cirne</h1>
    <p>
        Rua Fernando Feller, 239<br>
        95650-000 | Bom Pastor | Igrejinha | RS<br>
        (51) 99462-8417<br>
        jascirne@hotmail.com<br>
        20 anos | Brasileiro | Solteiro
    </p>
    <p>A quantidade de acessos até agora: {{ contador }}</p>
    <h2>FORMAÇÃO ACADÊMICA</h2>
    <ul>
        <li>Curso Técnico de Informática | Escola Técnica Estadual Monteiro Lobato – CIMOL | Concluído</li>
        <li>Bacharelado em Sistemas da Informação | Faculdades Integradas de Taquara – FACCAT | Cursando</li>
    </ul>

    <h2>EXPERIÊNCIA</h2>
    <ul>
        <li>Fevereiro de 2021 - Abril de 2021<br>
            Desenvolvedor Fullstack Estágio, M2 BRASIL ASSESSORIA LTDA, Igrejinha RS
        </li>
        <li>Julho de 2022 - Fevereiro de 2023<br>
            Técnico de Suporte ao Usuário, Faculdades Integradas De Taquara - FACCAT, Taquara RS
        </li>
    </ul>

    <h2>PROJETOS</h2>
    <ul>
        <li>Aplicativo de Identificação de Faixa de Pedestre para Deficientes Visuais<br>
            Desenvolvido no Android Studio com Java<br>
            Desenvolvido como Trabalho de Conclusão de Curso
        </li>
    </ul>

    <h2>IDIOMA</h2>
    <ul>
        <li>Inglês – Proficiente</li>
    </ul>

    <h2>INFORMÁTICA</h2>
    <ul>
        <li>Conhecimento avançado em Google Drive, Google Docs e Google Sheets</li>
        <li>Conhecimento em Sistemas Operacionais (Windows, Ubuntu)</li>
        <li>Programação em C, Java, JavaScript, PHP e Python</li>
        <li>Desenvolvimento de páginas web em HTML e CSS</li>
        <li>Desenvolvimento de aplicações REST API utilizando Django</li>
        <li>Modelagem e Gerenciamento de Banco de Banco de Dados (MySQL, PostgreSQL, Firebase)</li>
    </ul>

    <h2>FORMAÇÃO COMPLEMENTAR</h2>
    <ul>
        <li>General English – (Ilac – International Language Academy of Canada) – 2020</li>
    </ul>
</body>
</html>
